// Parent Container Class

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

.award-list__items {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: left;

  //background: $color3;
}

.award-list__item {
  //background: lighten($color1, 25%);
  background: #FFB7B7;
  padding: $s-size;
  padding-top: $l-size;
  padding-bottom: $m-size;
  margin: $s-size;
  margin-left: 0;
  padding-left: 0;

  background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,0));
  @include border-radius(10px);
}

#EE_Month {
  -moz-box-shadow:    inset 1px 1px 10px $color4;
  -webkit-box-shadow: inset 1px 1px 10px $color4;
  box-shadow:         inset 1px 1px 10px $color4;
}

#Sales {
  -moz-box-shadow:    inset 1px 1px 10px darken($color2, 10%);
  -webkit-box-shadow: inset 1px 1px 10px darken($color2, 10%);
  box-shadow:         inset 1px 1px 10px darken($color2, 10%);
}

#AwardText {
  margin: $s-size;
}

#AwardTextItem {
  margin: $s-size;
}

#DownloadLink {
  marginLeft: 10px;
  padding: 10px;
}