.padding-container-field {
    padding-top: 10px;
}

.profile-container-label {
    font-size: 18px;
    font-weight: 700;
}

.profile-container-value {
    padding-left: 10px;   
}

.profile-container {
    padding: 20px 40px 40px 40px;
    margin: 20px;
    background: white;
}