html {
  font-size: 62.5%;
}

body {
  background: #E8E9FF;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default; 
}
