//Colors

// /* HSL */
// $color1: hsla(210%, 50%, 40%, 1);
// $color2: hsla(201%, 51%, 69%, 1);
// $color3: hsla(203%, 30%, 26%, 1);
// $color4: hsla(112%, 60%, 74%, 1);
// $color5: hsla(124%, 64%, 91%, 1);

/* RGB */
// $color1: rgba(51, 102, 153, 1);
// $color2: rgba(134, 187, 216, 1);
// $color3: rgba(47, 72, 88, 1);
// $color4: rgba(158, 228, 147, 1);
// $color5: rgba(218, 247, 220, 1);

/* RGB */
$color1: rgba(95, 70, 75, 1);
$color2: rgba(142, 74, 73, 1);
$color3: rgba(125, 170, 146, 1);
$color4: rgba(128, 255, 236, 1);
$color5: rgba(194, 251, 239, 1);

//Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;